{{- /* 安全头部 */ -}}
<meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  script-src 'self' 'sha256-9+XWnYTFVgY682OAV67M8L4Q1RlYMmLD3EiWQxZdlOg=' https://giscus.app;
  style-src 'self';
  font-src 'self';
  frame-src https://giscus.app;
  img-src 'self' data: https:;
  connect-src 'self' https://api.github.com;
">

<script>
(function(){
  var d = document.documentElement;
  if (d.getAttribute('data-theme') === 'dark') d.classList.add('dark');
  new MutationObserver(function(){
    d.classList.toggle('dark', d.getAttribute('data-theme') === 'dark');
  }).observe(d, {attributes:true, attributeFilter:['data-theme']});
})();
</script>

<link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/inter-v12-latin-regular.woff2">
<link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/noto-sans-sc-v26-chinese-simplified-regular.woff2">

{{- if or .IsHome (eq .Layout "guestbook") (eq .Section "projects") }}
{{- $style := resources.Get "css/spa.css" | minify | fingerprint }}
<link rel="preload" as="style" href="{{ $style.RelPermalink }}">
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
{{- end }}

{{- /* SEO: supplementary OG/Twitter tags (PaperMod provides core tags) */ -}}
{{- $ogImage := "https://blog.codequest.com.cn/og-image.png" }}
{{- with .Params.cover.image }}
  {{- $ogImage = . | absURL }}
{{- else }}
  {{- with .Params.images }}
    {{- $ogImage = index . 0 | absURL }}
  {{- end }}
{{- end }}
<meta property="og:image" content="{{ $ogImage }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:locale" content="zh_CN">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $ogImage }}">
