{{- /* 安全头部 */ -}}
<meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  script-src 'self' 'sha256-9+XWnYTFVgY682OAV67M8L4Q1RlYMmLD3EiWQxZdlOg=' https://giscus.app;
  style-src 'self';
  font-src 'self';
  frame-src https://giscus.app;
  img-src 'self' data: https:;
  connect-src 'self' https://api.github.com;
">
<meta name="view-transition" content="same-origin">

{{- $themeInit := resources.Get "js/theme-init.js" | minify | fingerprint }}
<script src="{{ $themeInit.RelPermalink }}" integrity="{{ $themeInit.Data.Integrity }}"></script>

<link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/inter-v12-latin-regular.woff2">
<link rel="preload" as="font" type="font/woff2" crossorigin href="/fonts/noto-sans-sc-v26-chinese-simplified-regular.woff2">

{{- $style := resources.Get "css/spa.css" | minify | fingerprint }}
<link rel="preload" as="style" href="{{ $style.RelPermalink }}">
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">

{{- /* SEO: supplementary OG/Twitter tags (PaperMod provides core tags) */ -}}
{{- $ogImage := "https://blog.codequest.com.cn/og-image.png" }}
{{- with .Params.cover.image }}
  {{- $ogImage = . | absURL }}
{{- else }}
  {{- with .Params.images }}
    {{- $ogImage = index . 0 | absURL }}
  {{- end }}
{{- end }}
<meta property="og:image" content="{{ $ogImage }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:locale" content="zh_CN">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ $ogImage }}">

{{- /* PWA Support */ -}}
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#2e2e33">

{{- /* SEO: JSON-LD Structured Data */ -}}
{{- if .IsPage }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ .Title | plainify | jsonify }},
  "name": {{ .Title | plainify | jsonify }},
  "description": {{ with .Description | plainify }}{{ . | jsonify }}{{ else }}{{ .Summary | plainify | jsonify }}{{ end }},
  "keywords": [
    {{- if .Params.keywords }}
      {{- range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}{{ $e | jsonify }}{{ end }}
    {{- else }}
      {{- range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e | jsonify }}{{ end }}
    {{- end }}
  ],
  "datePublished": {{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | jsonify }},
  "dateModified": {{ .Lastmod.Format "2006-01-02T15:04:05-07:00" | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ (site.Params.author | default "Eon") | jsonify }},
    "url": {{ site.BaseURL | jsonify }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ site.Title | jsonify }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ printf "%s%s" site.BaseURL (site.Params.assets.favicon | default "favicon.ico") | absURL | jsonify }}
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink | jsonify }}
  }
  {{- if .Params.cover.image -}}
  ,"image": {{ .Params.cover.image | absURL | jsonify }}
  {{- end }}
}
</script>
{{- else if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": {{ (site.Params.author | default "Eon") | jsonify }},
  "url": {{ site.BaseURL | jsonify }},
  "description": {{ (site.Params.description | default "华南理工大学计算机专业学生，ACM 集训队成员。") | plainify | jsonify }},
  "sameAs": [
    "https://github.com/yanchuaner"
  ],
  "jobTitle": "Student & Software Developer",
  "worksFor": {
    "@type": "EducationalOrganization",
    "name": "South China University of Technology"
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": {{ site.Title | jsonify }},
  "url": {{ site.BaseURL | jsonify }},
  "description": {{ (site.Params.description | default "华南理工大学计算机专业学生，ACM 集训队成员。") | plainify | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ (site.Params.author | default "Eon") | jsonify }}
  }
}
</script>
{{- end }}
